.header {
  position: fixed;
  top: 0; left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px;
  height: 70px;
  display: flex;
  gap: 20px;
  /* margin: 0 auto; */
  padding: 0 30px;
  color: #d1d2d4;
  background-color: transparent;
  z-index: 10;
  border-bottom: 1px solid #3d3844;
}
.header img {
  width: 60px;
  height: auto;
}
.header > div a {
  line-height: 65px;
  color: #d1d2d4;
  font-weight: bold;
  margin: 0 20px;
}